@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0015;
}

::-webkit-scrollbar-thumb {
  background: #6a1b9a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffd700;
}